/* google font csss link */


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* btn  */

.btn{

  background-color: #469165;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;

}

.btn:hover{
  background-color: #008135;
  transition: .3s;
}

img{
  width: 100%;
  height: 100%;
}

/* header_section style */

.header_section{
  background-color:white;
}

/* nav_bar style */

.nav_bar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 36px 120px;
}


.nav_logo{

  width: 139px;
  height: 60px;
}

/* nav_logo style */

.nav_menu{
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 32px;
  
}



.nav_menu li{
  
  list-style:none;
}


.nav_menu a{
   padding: 10px 14px;
  text-decoration: none;
  font-size: 16px;
  color: #001931;
  font-weight:600;
  transition-delay: .4s;
}

/* a hover */


.nav_menu a:hover{
  background-color: #8060ff;
  color: white;
  padding: 10px 14px;
  border-radius: 4px;
  transition: .3s ease-in-out;
  cursor: pointer;
}


.nab_btn{
display: flex;
justify-content: center;
text-align: center;

}