/* google font csss link */


.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* btn  */

.btn{

  background-color: #469165;
  padding: 12px 16px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;

}

.btn:hover{
  background-color: #008135;
  transition: .3s;
}

.blog_img{
  width: 100%;
  height: auto;
}

img{
  width: 100%;
  height: auto;
}

/* header_section style */

.header_section{
  background-color:white;
}

/* nav_bar style */

.nav_bar{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 36px 120px;
}


.nav_logo{

  width: 139px;
  height: 60px;
}

/* nav_logo style */

.nav_menu{
  display: flex;
  align-items: center;
  text-align: center;
  column-gap: 32px;
  
}



.nav_menu li{
  
  list-style:none;
}


.nav_menu a{
   padding: 10px 14px;
  text-decoration: none;
  font-size: 16px;
  color: #001931;
  font-weight:600;
  transition-delay: .4s;
}

/* a hover */


.nav_menu a:hover{
  background-color: #8060ff;
  color: white;
  padding: 10px 14px;
  border-radius: 4px;
  transition: .3s ease-in-out;
  cursor: pointer;
}


.nab_btn{
display: flex;
justify-content: center;
text-align: center;

}


/* main_section style */

.hero_section{
 background-image: url(../images/hero-bg.png);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 100vh;
 margin: 0 auto;
 

}

/* main_conatainer */

.hero_container{

 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px 120px;

}

.hero_sub_title{
  color: #008135;
  font-size: 28px;
  font-weight: bold;
 background-color: #fff;
 padding: 10px 12px;
 border-radius: 8px;
 margin-top: 115px;

}


/* hero_title */

.hero_title{
  font-size: 74px;
  color: white;
  text-transform: capitalize;
  font-weight: 800;
  word-spacing: 10px;
  letter-spacing: 5px;
  
  
}


.color{
color: #008135;
}

.hero_description{
  font-size: 24px;
  color:rgb(255, 255, 255);
  text-align: center;
}

/* btn_con */

.btn_con{
  display: flex;
  column-gap: 20px;
  margin: 30px 0px;
}


/* btn_ */
.btn_1{

  background-color: #469165;
  padding: 16px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  gap: 4px;
}

.btn_1:hover{
  background-color: #008135;
  transition: .3s;
}

i.fa-solid.fa-arrow-right{
  margin-left:10px ;
}


.fa-solid, .fas{
  margin-right:10px;
}

.btn_1 span{
  margin-right: 4px;
}



/* notes_section */


.note_section{

  margin: 0 auto;  

}



.note_content{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 36px 0px;
  

}

.note_title{
  text-align: center;
  margin: 16px 0px ;
  font-size: 24px;
  font-weight: 800;

}

.note_description{
  font-size: 18px;
  font-weight: 400;

}



.note_container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 36px 120px;
}


.note{
 
  width: 322px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 24px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 9%);
  border: none;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  margin: 40px auto;
}

.title{
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0px;
}

p.description{
  font-size: 16px;
  font-weight:400;
  color: black;
}

.note_img{
  width: 20px;
  height: 20px;
  border: none;
  margin: 0 auto;
  padding: 13px 14px;
  background-color: #F95555;
  border-radius: 50%;

}

/* blog_section */



.blog_container{
  display: flex;
  margin: 120px;
padding: 40px 0px;
}

.check_des{
  display: flex;
  flex-direction: column;
}



.blog_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px ;
  
}

/* blog_sub_title */

.blog_sub_title{
  font-size: 24px;
  color: black;
  font-weight: 500;
}


.blog_title{
  font-size: 48px;
  font-weight: 700;
  color: black;
  
}

/* check_des */

.check_des{
  display: flex;
  flex-direction: column;
  gap: 10px;
margin-bottom: 40px;
}

.fa-solid, .fas
 {
    margin-right: 0px;
    padding: 3px;
    border-radius: 50%;
    background-color:#008135 ;
    color: white;
    
}

/* ready_section */

.ready_section{
  margin: 120px ;
}




/* ready_container */

.ready_container{
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #F7F6F2;
}


/* footer_section*/
.footer_section{
  background-color: #001931;
  margin: 0 auto;
  
}

/* footer_container */
.footer_container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
  padding: 120px 40px;

}

.footer_img{
 
  width: 60px;
  height: 60px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
 align-items: end;
 
}

/* .footer-social */
.footer-social{

  padding-right: 50px;

}

/* footer-social_icons */


.footer-social h4{

  color: white;
}

/* footer-social_icons */
.icons {
  
  background-color: white;
  padding: 6px;
  border-radius: 50%;
  

}
.icons:hover{
  background-color: #ffffff9a;
}


/* copy_title */
.copy_title {

  display: flex;
  justify-content: center;
  margin: 0px 40px;

}

/* copyWrite */

.copyWrite{
 color: white;
 text-align: center;
 padding: 10px;
 border-top: 1px solid rgb(80, 76, 84);
}